*
  padding: 0px

button
  border: 0
  background: none

input
  border: none
  border-bottom: 1px solid gray
  padding: 0.5em
  margin: 0.5em

label
  font-size: 0.7em
  color: darkred
  margin-left: 1em
  margin-top: -0.5em

button:hover
  cursor: pointer

.invalid
  border-bottom: 2px solid darkred

.title
  margin: auto
  border-bottom: 1px solid darkgrey
  display: flex
  align-items: center
  max-width: 700px

  *
    padding-left: 0.5em

.app
  max-width: 700px
  margin: auto

.contact
  display: grid
  grid-template-columns: 1fr 5fr 2fr
  border-bottom: 1px solid darkgrey

  .contactButtons
    display: flex
    justify-content: space-around
    align-items: center

    *
      font-size: calc(0.75em + 1vmin)
      padding: 0.5em

  .contactInfo
    display: flex
    flex-direction: column
    justify-content: space-around

  img
    max-width: 80px

.addContact
  .addContactForm
    display: grid
    grid-template-columns: 3fr 1fr

    .formInput
      display: flex
      flex-direction: column

    input
      border: none
      border-bottom: 1px solid gray
      padding: 0.5em
      margin: 0.5em
